# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env*.local

# database
*.db
*.db-journal
/prisma/dev.db*

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
